<html>
    <head>
        <!--<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap.min.css')}}">-->
        <!-- Bootstrap stuff-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- Taken from https://stackoverflow.com/questions/24325220/d3-json-setup-cache-to-false to disable cache-->
        <meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta http-equiv="pragma" content="no-cache">
    </head>



    <body>


<div class="container-fluid">
    <div class="row">
    <div class='col-sm-3'>
    <form method="get" action="/selected">
        <input type="radio" name="input-mode" value="select-prev" id="prev" onclick="input_mode_change(this)" checked> Select Previously Defined Domain </br>
        <input type="radio" name="input-mode" value="select-new" id="new" onclick="input_mode_change(this)"> Upload New Files </br>
        <select class="prev-domain" id="prev-list" name="selected_domain">
            <option value="None"></option>
            <option value="get_to_sf">Get to SF (Detailed)</option>
            <option value="logistics">Logistics</option>
        </select></br>
        <div class="file-input" id="file-input">
            <p>Domain file <input type="file" value="domain"></p>
            <p>Problem file <input type="file" value="prob"></p>
            <p>Policy file <input type="file" value="policy"></p>
        </div>

        <input type="submit" value="Submit">

    </form>
    </div>
        <div class='col-sm-6' > <!--style="border: 1px solid black">-->

<div id="accordion">
      <div class="card">
    <div class="card-header" id="control-panel-heading">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#CONTROLPANEL" aria-expanded="true" aria-controls="CONTROLPANEL">
          Policy Drilldown Panel
        </button>
      </h5>
    </div>
<div class="collapse" id="CONTROLPANEL"  aria-labelledby="control-panel-heading" data-parent="#accordion">
            <div class="text-center">

    <form method="get" action="/drilldown">
        <div class="row">
            <div class='col-sm-6'>
                <div id="START_STATE_LIST" align="left">
                </div>
            </div>
            <div class='col-sm-6'>
                <div id="END_STATE_FACT">
                </div>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-3'>
        <input type="button" value="Reset" onclick="reset_drilldown()">
            </div>
        <div class='col-sm-3'>
        <input type="submit" value="Drill Down">
            </div>
        </div>
    </form>
                </div>

    </div>
    </div>

</div>
</div>
<div class='col-sm-3'>
    <div id="accordion">
      <div class="card">
    <div class="card-header" id="control-panel-2-heading">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#CONTROLPANEL2" aria-expanded="true" aria-controls="CONTROLPANEL2">
          View Control Panel
        </button>
      </h5>
    </div>
<div class="collapse" id="CONTROLPANEL2"  aria-labelledby="control-panel-2-heading" data-parent="#accordion">

    <form method="get">
        <input type="radio" name="viz-mode" value="select-summary" id="policy-view" onclick="visualize_policy_from_url()" checked> Policy View </br>
        <input type="radio" name="viz-mode" value="select-policy" id="summary-view" onclick="visualize_summary()"> Summary View </br>
        <input type="checkbox" name="zoom-control" value="select-policy" onclick="allow_zoom(this)"> Allow Zoom </br>
    </form>
      </div>
    </div>
    </div>
    </div>
    </div>
    <div class="row">
        <div class='col-sm-9'>
            <div class="row">
                <div class='col-sm-3'></div>
                <div class='col-sm-3'>
                    <div id="CURRENTVIEW"></div>
                </div>
                <div class='col-sm-3'></div>
            </div>
            <div class="row">
                <svg class='policy'/>
            </div>

        </div>
        <div class='col-sm-3'>
            <div class="card" align="center">
                <div class="card-body">

                    <h5 class="card-title"> Information Panel</h5>
<!--                    <div class="grid"  >-->
<!--                        <div class="row" align="center">-->
                            <p>&nbsp; State Information:</p>
                            <div class="state-info"></div>
<!--                        </div>-->

<!--                        <div class="row" align="center">-->
                            <p>&nbsp; Action to be taken:</p>
                            <div class="action-info"></div>
<!--                        </div>-->

<!--                    </div>        -->
                </div>

            </div>

               <div id="accordion">
      <div class="card">
    <div class="card-header" id="control-panel-3-heading">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#FILTERPANEL2" aria-expanded="true" aria-controls="FILTERPANEL2">
          Filter Panel
        </button>
      </h5>
    </div>
<div class="collapse" id="FILTERPANEL2"  aria-labelledby="control-panel-3-heading" data-parent="#accordion">

<!--            <div class="row">-->
<!--             <h5 class="card-title"> Filter List:</h5>-->
                <form method="get" action="/filter_out">
                    <div id="FILTER_LIST">
                    </div>
                    <input type="submit" name="Filter" value="Filter">
                </form>

            <div class="state-info"></div>
<!--            </div>    -->
</div>
      </div>
               </div>


 <div id="accordion">
      <div class="card">
    <div class="card-header" id="control-panel-4-heading">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#QUERYPANEL" aria-expanded="true" aria-controls="QUERYPANEL">
          Query Panel
        </button>
      </h5>
    </div>
<div class="collapse" id="QUERYPANEL"  aria-labelledby="control-panel-4-heading" data-parent="#accordion">

                <form method="get" action="/query">
                <div id="SELECTED_SUBGOAL">
                </div>

                    <input type="submit" value="Can I avoid this subgoal?">

                </form>

            <div class="state-info"></div>
        </div>
        </div>
 </div>


<div id="accordion">
      <div class="card">
    <div class="card-header" id="control-panel-5-heading">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#LEGENDPANEL" aria-expanded="true" aria-controls="LEGENDPANEL">
          Legends
        </button>
      </h5>
    </div>
<div class="collapse" id="LEGENDPANEL"  aria-labelledby="control-panel-5-heading" data-parent="#accordion">

<!--            <div class="row">-->
<!--             <h5 class="card-title"> Filter List:</h5>-->
                <svg class="legends"></svg>

            <div class="state-info"></div>
<!--            </div>    -->
        </div>
        </div>
 </div>


        </div>

    </div>
<div class="row">
    <div class='col-sm-4' ></div>
    <div class='col-sm-2' >
            <form method="get" action="/undo">
            <input type="submit" value="Undo">
                </form>
        </div>
    <div class='col-sm-2' >
            <form method="get" >
            <input type="button" value="Domain Information" onclick="show_model_information()">
                </form>
        </div>

    <div class='col-sm-4' ></div>
</div>

</div>

</body>
    <script src="{{url_for('static', filename='d3.js')}}">

    </script>

    <script src="{{url_for('static', filename='policy_graph.js')}}">

    </script>

    <script>

        var prev_dropdown = document.getElementById("prev-list");
        var new_input = document.getElementById("file-input");
        new_input.hidden = true;
        function input_mode_change(mode) {
            if (mode.value == "select-prev"){
                prev_dropdown.hidden = false;
                new_input.hidden = true;
            }else{
                prev_dropdown.hidden = true;
                new_input.hidden = false;
            }

        }

        function allow_zoom(mode){
            if(mode.checked == true){
                zoom_flag = true;
            }else {
                zoom_flag = false;
            }
        }

        function reset_drilldown(){
            destination_selected = false;
            source_selected = false;
            d3.select("#START_STATE_LIST").selectAll("div").remove();
            d3.select("#START_STATE_LIST").selectAll("p").remove();
            d3.select("#END_STATE_FACT").selectAll("text").remove();
            d3.select("#END_STATE_FACT").selectAll("input").remove();
        }
        
        function show_model_information() {
            {% if domain_name and  init and goal %}
                alert("Domain Name: {{ domain_name }}\n\nInitial State:\n{{ init }}\n\nGoal:\n{{ goal }}")
            {% endif %}
        }
        
        
        {% if error_msg %}
            alert("{{ error_msg }}");
        {% endif %}
    </script>


</html>
