.control-panel{
    position: fixed;
    background: darkgrey ;
    border-width: 10px;
    padding: 10px;
    margin: 10px;
    width: 25%;
    top: 10px;
}
.control-panel-2{
    position: absolute;
    background: darkgrey ;
    border-width: 10px;
    padding: 10px;
    margin: 10px;
    width: 25%;
    top: 10px;
    right: 0;
}
.navigation-panel{
    position: absolute;
    top: 10px;
    right: 40%;

}
.policy{
    position: relative;
    top: 30%;
    height: 70%;
    width: 100%;
}